@import "style.scss";

.content-p {
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid $lineColor;
  max-width: 95%;
  margin-left: 16px;
  font-family: $fontPages, serif;
  color: $text;
}

.footer1 {
  color: $grayText;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 20px;
  font-family: $fontPages, serif;
}

@media (min-width: 620px) {
  .footer1 {
    display: flex;
    justify-content: space-around;
  }
}

.footer.footer__text-1 {
  margin-top: 50px;
  font-family: $fontPages, serif;
}

.content__link {
  font-family: $fontBold;
  font-weight: bold;
  position: relative;
}

.content__link::after {
  content: ">";
  color: $btnColor;
  position: absolute;
  top: 0;
  left: 270px;
}
