@import "style.scss";

.header {
  font-family: $fontPages, sans-serif;
  background-color: $black;
}

.button {
  border: none;
  display: flex;
  background-color: transparent;
  align-items: center;
  cursor: pointer;
}

.header__inn {
  min-height: 88px;
  min-width: 320px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $whiteText;
  border-bottom: 1px solid $lineColor;
}

@media (min-width: 1120px) {
  .header__inn {
    display: none;
  }
}

.button__repair {
  margin-left: 15px;
}

.header__menu-logo {
  display: flex;
  justify-content: space-between;
}

.header__divider {
  display: none;
}

@media (min-width: 786px) {
  .header__divider {
    display: flex;
    margin: 0 16px;
  }
}

.header__btn-menu {
  display: flex;
}

.header__hidden-menu {
  display: none;
}

@media (min-width: 786px) {
  .header__hidden-menu {
    display: flex;
    margin-right: 15px;
  }
}

.button__back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: $btnColor;
  border-radius: 50%;
  cursor: pointer;
}
