@import "style.scss";

a {
  text-decoration: none;
  color: $grayText;
  font-family: $fontPages, serif;
}

.list {
  display: flex;

  overflow: scroll;
}
@media (min-width: 1120px) {
  .list {
    /* overflow: hidden; */
    justify-content: flex-start;
    /* flex-wrap: wrap; */
  }
}
.list__btn {
  width: 246px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  color: transparent;
  white-space: nowrap;
  margin-left: 32px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid #f8f8f8;
}

.list__btn:hover {
  width: 246px;
  height: 40px;
  color: $grayText;
  border: 2px solid $lineColor;
  background-color: $whiteText;
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 0;
}
