$btnColor: #ff3e79;
$text: #1b1c21;
$lineColor: #d9fff5;
$whiteText: #ffffff;
$bgColor: #f8f8f8;
$grayText: #7e7e82;
$black: #000;

$fontPages: "TTLakes-Regular";
$fontMedium: "TTLakes-Medium";
$fontBold: "TTLakes-Bold";

@font-face {
  font-family: "TTLakes-Regular";
  src: url(../fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "TTLakes-Medium";
  src: url(../fonts/TTLakes-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "TTLakes-Bold";
  src: url(../fonts/TTLakes-Bold.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
  padding: 0;
  margin: 0;
  font-family: $fontMedium;
}

@media (min-width: 1400px) {
  body {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  .menu-button.close {
    display: none;
  }
  .menu-button.hid {
    display: none;
  }
  .header-menu__logo {
    cursor: pointer;
  }

  @media (min-width: 1450px) {
    body {
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  .container-1 {
    display: block;
  }

  .container-2 {
    width: 80%;
  }
}

.container-1 {
  min-width: 320px;
  height: 1800px;
  background-color: #ffffff;
}

@media (max-width: 1400px) {
  .container-1 {
    display: none;
  }
}
